.div-login {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: o auto;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 20px;
    margin-top: 10vh;
    background-color: rgb(126, 241, 203);
    margin-left: 35%;
}

input {
    width: 95%;
    border: 1px solid #424747;
    padding: 5px;
    margin: 2px 0;
    border-radius: 5px;
    background-color: rgb(126, 241, 203);
    box-shadow: none;
    font-family: 'Open Sans Condensed', sans-serif;
}

.button {
    width: 100%;
    margin: 5px 0;
    background-color: rgb(47, 189, 142);
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 5px;
    font-weight: 700;
    border: none;
}